* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 44px;
}

section {
    flex: 1;
    overflow: auto;
}

.main {
    width: 100%;
    height: auto;
}

.head {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    line-height: 44px;
    span img {
        height: 100%;
    }
}

.banner {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 10px;
    dl {
        margin: 0 auto;
        width: 23%;
        background: #eee;
        padding: 2px;
        dt img {
            width: 40%;
            height: auto;
        }
        dd span {
            font-size: 12px;
            display: block;
            color: #ccc;
        }
    }
}

.span {
    width: 70%;
    background: red;
    border-radius: 10px;
    margin: 0 auto;
}

.list {
    width: 100%;
    height: auto;
}

.list_dl {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    dl {
        width: 24%;
        margin: 0 auto;
        border-right: solid 1px #eee;
        border-bottom: solid 1px #eee;
        dt img {
            width: 40%;
            height: auto;
        }
        dd {
            font-size: 12px;
            display: block;
            color: #ccc;
        }
    }
}

h3 {
    width: 100%;
    height: auto;
    display: inline-block;
    img {
        width: 100%;
        height: auto;
    }
}

footer {
    width: 100%;
    height: 44px;
    display: flex;
    padding-top: 5px;
    dl {
        width: 25%;
        height: 100%;
        text-align: center;
        dt {
            width: 100%;
            height: auto;
            img {
                width: 25%;
                height: auto;
                display: block;
                margin: 0 auto;
            }
        }
        dd b {
            font-size: 12px;
        }
    }
}